menu "Zephyr Zenoh Integration Configuration"

config ZENOH_TRANSPORT_DOMAIN_ID
    int "ROS 2 Domain ID"
    default 0

choice ZENOH_TRANSPORT_TIER
    prompt "Integration Tier"
    default TIER_1

config TIER_1
    bool "Tier 1: Native ROS 2 Integration (Zenbedded CDR)"
config TIER_2
    bool "Tier 2: High-Throughput Raw Numeric"
config TIER_3
    bool "Tier 3: Bit-Optimal Packed"

endchoice
endmenu
