menu "Zenbedded RCL Configuration"

    config ZENBEDDED_RCL_ENABLE
        bool "Enable Zenbedded RCL"
        default y
        help
          This option enables the Zenbedded Ros Client Library (RCL).

endmenu
