menu "Zenbedded RCL Configuration"

    config ZENBEDDED_RCL
        bool "Enable Zenbedded RCL"
        default y
        help
          This option enables the Zenbedded Ros Client Library (RCL).

    config ZENBEDDED_RCL_THREAD_PRIORITY
        int "Zenbedded thread priority"
        default 1
        help
            Zephyr thread priority for the zenbedded thread.
            Lower number = higher priority.

    config ZENBEDDED_RCL_THREAD_STACK_SIZE
        int "zenbedded thread stack size (bytes)"
        default 4096
        range 1024 16384
        help
            Stack size for the zenbedded thread.

    config ZENBEDDED_RCL_ZENOH_MODE
        string "The mode for zenoh-pico peer/client"
        default "client"

    config ZENBEDDED_RCL_ZENOH_LOCATOR
        string "The locator/address to connect to for zenoh-pico"
        default ""

endmenu
