menu "Zenbedded RCL Configuration"

    config ZENBEDDED_RCL
        bool "Enable Zenbedded RCL"
        default y
        help
          This option enables the Zenbedded Ros Client Library (RCL).

    config ZENBEDDED_RCL_THREAD_PRIORITY
        int "Zenbedded thread priority"
        default 1
        help
            Zephyr thread priority for the zenbedded thread.
            Lower number = higher priority.

    config ZENBEDDED_RCL_THREAD_STACK_SIZE
        int "zenbedded thread stack size (bytes)"
        default 4096
        range 1024 16384
        help
            Stack size for the zenbedded thread.

    config ZENBEDDED_RCL_ZENOH_MODE
        string "The mode for zenoh-pico peer/client"
        default "client"

    config ZENBEDDED_RCL_ZENOH_LOCATOR
        string "The locator/address to connect to for zenoh-pico"
        default ""

    config ZENBEDDED_RCL_DOMAIN_ID
            int "ROS 2 Domain ID"
            default 0
            help
              The domain ID for the ROS 2 graph.

	config ZENBEDDED_RCL_NODE_NAME
            string "The ROS 2 node name assigned to the MCU"
            default "zenbedded_mcu"
            help
              The base node name used for liveliness tokens.

    config ZENBEDDED_RCL_ZENOH_MODE
            string "The mode for zenoh-pico peer/client"
            default "client"

	config ZENBEDDED_RCL_ZENOH_LOCATOR
            string "The locator/address to connect to for zenoh-pico"
            default "tcp/127.0.0.1:7447"

    choice ZENBEDDED_RCL_QOS_RELIABILITY
            prompt "Default QoS Reliability"
            default ZENBEDDED_RCL_QOS_BEST_EFFORT

    config ZENBEDDED_RCL_QOS_BEST_EFFORT
            bool "Best Effort (Low Latency, UDP-style queueing)"

   	config ZENBEDDED_RCL_QOS_RELIABLE
            bool "Reliable (Guaranteed Delivery)"

	endchoice
endmenu
