#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	aliases {
		stepper-driver = &a4988_driver;
		stepper-ctrl = &a4988_ctrl;
		encoder-driver = &as5600_encoder;
	};

	a4988_driver: a4988-stepper-driver {
		compatible = "adi,tmc2209";
		en-gpios = <&gpio0 13 GPIO_ACTIVE_LOW>;
		micro-step-res = <16>;
	};

	a4988_ctrl: a4988-stepper-controller {
		compatible = "zephyr,gpio-step-dir-stepper-ctrl";
		step-gpios = <&gpio0 3 GPIO_ACTIVE_HIGH>;
		dir-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
		stepper-driver = <&a4988_driver>;
		counter = <&counter0>;
	};

// Enable this and replace the alias for drivers like DRVxxx and TMC2209 so you can control microstepping

//	tmc2209_driver: tmc2209-stepper-driver {
//		compatible = "adi,tmc2209";
//		en-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;
//		m0-gpios = <&gpio0 5 GPIO_ACTIVE_HIGH>;
//		m1-gpios = <&gpio0 6 GPIO_ACTIVE_HIGH>;
//		micro-step-res = <32>;
//	};
//
//	tmc2209_ctrl: tmc2209-stepper-controller {
//		compatible = "zephyr,gpio-step-dir-stepper-ctrl";
//		step-gpios = <&gpio0 7 GPIO_ACTIVE_HIGH>;
//		dir-gpios = <&gpio0 8 GPIO_ACTIVE_HIGH>;
//		invert-direction;
//		stepper-driver = <&tmc2209_driver>;
//      counter = <&counter0>;
//	};
};


&pinctrl {
	i2c0_default: i2c0_default {
		group1 {
			pinmux = <I2C0_SDA_GPIO1>, <I2C0_SCL_GPIO2>;
			bias-pull-up;
			drive-open-drain;
			output-high;
		};
	};
};


&i2c0 {
	status = "okay";
	pinctrl-0 = <&i2c0_default>;
	pinctrl-names = "default";
	clock-frequency = <I2C_BITRATE_FAST>;

	as5600_encoder: as5600@36 {
		compatible = "ams,as5600";
		reg = <0x36>;
		status = "okay";
	};
};


&wifi {
	status = "okay";
};


&timer0 {
	status = "okay";

	counter0: counter {
		status = "okay";
	};
};
