<?xml version="1.0"?>
<robot name="sine_wave_demo">
    <link name="base_link"/>
    <link name="sine_link"/>

    <joint name="sine_wave" type="continuous">
        <parent link="base_link"/>
        <child link="sine_link"/>
        <axis xyz="0 0 1"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <ros2_control name="ZenbeddedSystem" type="system">
        <hardware>
            <plugin>zenbedded_hardware_interface/ZenbeddedHardware</plugin>
            <param name="schema_path">$(find zenbedded_sine_wave)/config/interface_schema.yaml</param>
            <param name="zenoh_mode">client</param>
            <param name="zenoh_endpoint">tcp/10.244.80.128:7447</param>
            <param name="state_topic">zenbedded/sine_wave/state</param>
            <param name="command_topic">zenbedded/sine_wave/cmd</param>
        </hardware>
        <joint name="sine_wave">
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>
