<?xml version="1.0"?>
<robot name="inverted_pendulum_demo">
    <link name="base_link"/>
    <link name="motor_joint_link"/>
    <link name="pendulum_link"/>

    <joint name="motor_joint" type="continuous">
        <parent link="base_link"/>
        <child link="motor_joint_link"/>
        <axis xyz="0 0 1"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>

    <joint name="pendulum_joint" type="continuous">
        <parent link="motor_joint_link"/>
        <child link="pendulum_link"/>
        <axis xyz="0 1 0"/>
        <origin xyz="0.2 0 0" rpy="0 0 0"/>
    </joint>

    <ros2_control name="ZenbeddedSystem" type="system">
        <hardware>
            <plugin>zenbedded_hardware_interface/ZenbeddedHardware</plugin>
            <param name="schema_path">$(find zenbedded_inverted_pendulum)/config/interface_schema.yaml</param>
            <param name="zenoh_mode">client</param>
            <param name="zenoh_endpoint">tcp/10.70.246.128:7447</param>
            <param name="state_topic">zenbedded/inverted_pendulum/state</param>
            <param name="command_topic">zenbedded/inverted_pendulum/cmd</param>
        </hardware>
        <joint name="motor_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <command_interface name="acceleration"/>
        </joint>
        <joint name="pendulum_joint">
            <state_interface name="position"/>
            <state_interface name="velocity"/>
        </joint>
    </ros2_control>
</robot>
